{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Enable Two-Factor Authentication</h2>
                <p>Scan the QR code below with your authenticator app:</p>
                <img src="{{ qrCode }}" alt="QR Code">
                <p>Or manually enter the secret: <strong>{{ secret }}</strong></p>
                <p>Once you've scanned the QR code, click <a href="{{ path('app_home') }}">here</a> to return to your profile.</p>
            </div>
        </div>
    </div>
{% endblock %}