<!DOCTYPE html>

<title>Hello PostCommentController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/Pi/pi_project/src/Controller/PostCommentController.php</code></li>
        <li>Your template at <code>D:/Pi/pi_project/templates/post_comment/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
